services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NO_CACHE: true

    container_name: migliorelli.dev
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    ports:
      - "3000:80"
    volumes: 
      - .:/usr/src/migliorelli.dev
