services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: migliorelli.dev
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    ports:
      - "3000:80"
