@import "tailwindcss";

@font-face {
  font-family: NotoColorEmojiLimited;
  unicode-range: U+1F1E6-1F1FF;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --font-emoji:
    "NotoColorEmojiLimited", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --color-background: oklch(14.077% 0.00439 285.82);
  --color-background-alt: oklch(18.356% 0.00607 285.79);
  --color-foreground: oklch(71.181% 0.01294 286.07);

  --color-card: oklch(26.698% 0.01107 285.63);
  --color-muted: oklch(34.424% 0.01559 285.55);

  --color-primary: oklch(60.56% 0.2189 292.72);
  --color-primary-50: oklch(96.37% 0.0187 292.61);
  --color-primary-100: oklch(93.44% 0.0354 296.28);
  --color-primary-200: oklch(88% 0.0648 293.8);
  --color-primary-300: oklch(79.12% 0.117361 294.0625);
  --color-primary-400: oklch(68.02% 0.1872 293.47);
  --color-primary-500: oklch(60.56% 0.2189 292.72);
  --color-primary-600: oklch(54.13% 0.2466 293.01);
  --color-primary-700: oklch(49.07% 0.2412 292.58);
  --color-primary-800: oklch(43.2% 0.2106 292.76);
  --color-primary-900: oklch(37.96% 0.1783 293.74);
  --color-primary-950: oklch(28.27% 0.1351 291.09);
}

@layer base {
  * {
    @apply selection:bg-primary-300/50 selection:text-primary-200;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-segoe text-foreground bg-background m-0 min-h-dvh overflow-x-hidden antialiased;
  }

  #app {
    @apply h-full w-full;
  }
}

/* @utility bg-dots {
  background: radial-gradient(
    --alpha(theme("colors.neutral.800") / 75%) 1px,
    transparent 1px
  );
  background-size: 30px 30px;
} */

@utility shadow-primary {
  box-shadow: 0px 10px 50px 0px --alpha(theme("colors.primary.700") / 25%);
}

@utility text-gradient {
  @apply from-primary-400 to-primary-600 bg-gradient-to-r bg-clip-text text-transparent;
}
