@import "tailwindcss";

@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;

  --color-primary: oklch(60.56% 0.2189 292.72);
  --color-primary-50: oklch(96.37% 0.0187 292.61);
  --color-primary-100: oklch(93.44% 0.0354 296.28);
  --color-primary-200: oklch(88% 0.0648 293.8);
  --color-primary-300: oklch(79.12% 0.117361 294.0625);
  --color-primary-400: oklch(68.02% 0.1872 293.47);
  --color-primary-500: oklch(60.56% 0.2189 292.72);
  --color-primary-600: oklch(54.13% 0.2466 293.01);
  --color-primary-700: oklch(49.07% 0.2412 292.58);
  --color-primary-800: oklch(43.2% 0.2106 292.76);
  --color-primary-900: oklch(37.96% 0.1783 293.74);
  --color-primary-950: oklch(28.27% 0.1351 291.09);
}

@layer base {
  * {
    @apply selection:bg-primary/50 selection:text-primary-200;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-jetbrains-mono m-0 min-h-dvh bg-black text-slate-300 antialiased;
  }

  #app {
    @apply h-full w-full;
  }
}

@layer components {
  .btn {
    @apply bg-primary hover:bg-primary/80 inline-flex h-10 cursor-pointer items-center justify-center gap-2 rounded-xl px-4 py-2 text-sm font-medium whitespace-nowrap text-white transition-colors disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
  }

  .btn-border {
    @apply hover:bg-primary/10 hover:border-primary/20 border-1 border-gray-200 bg-transparent text-gray-900;
  }

  .nav-link {
    @apply hover:text-primary before:bg-primary relative text-sm transition-all duration-200 ease-in-out before:absolute before:-bottom-[4px] before:left-0 before:h-[2px] before:w-full before:max-w-0 before:transition-all before:duration-200 before:ease-in-out hover:before:max-w-full;
  }

  .ship {
    @apply bg-primary/10 text-primary inline-flex items-center gap-2 rounded-full px-4 py-2 text-sm font-semibold [&_svg]:size-4 [&_svg]:shrink-0;
  }

  .input {
    @apply focus:ring-primary/20 focus:border-primary w-full rounded-xl border border-gray-300 px-4 py-3 focus:ring-2 focus:outline-none;
  }
}
